article, aside, figure, figcaption, footer, hgroup, nav, section, summary {  
  display: block;  
}
 
body {
  font-family: "Helvetica","Hiragino Sans GB","Microsoft Yahei", sans-serif;
  max-width: 700px;
}
 
nav {
  background-color: #2D9900;
  border: thin #336699 solid;
  padding: 10%;
  margin: 10%;
  text-align: center;
}

main-nav {
    -webkit-transition: all .37s cubic-bezier(0,0,.58,1);
    -o-transition: all .37s cubic-bezier(0,0,.58,1);
    transition: all .37s cubic-bezier(0,0,.58,1);
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
@media (min-width: 768px)
.navbar-expand-md {
    -ms-flex-flow: row nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}


.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
 
.Content {
  font-size: medium;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 120%;
}
 
.Content .LeadIn {
  font-weight: bold;
  font-size: large;
  font-variant: small-caps;
}
 
.Content h2 {
  color: #24486C;
  margin-bottom: 2px;
  font-size: medium;
}
 
.Content p {
  margin-top: 0px;
}
 
footer {
  text-align: center;
  font-size: x-small;  
}
 
footer .Disclaimer {
  font-style: italic;
}
 
footer p {
  margin: 3px;
}
